.ipynb_checkpoints/
*.csv
!data/*.csv
data/*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
mtg_env/
ENV/
env/
.env
.venv
env.bak/
venv.bak/
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db